{% extends 'shared/base1.html' %}
{% load static %}

{% block title %}
    فرم ثبت نام
{% endblock %}


{% block content %}
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-12 col-md-3"></div>
                <div class="col-12 col-md-6">
                    {% if register_form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <label class="error-django d-block">{{ register_form.first_name.errors }}</label>
                            <label class="error-django d-block">{{ register_form.last_name.errors }}</label>
                            <label class="error-django d-block">{{ register_form.mobile.errors }}</label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 col-md-3"></div>
            </div>
        </div>
    <div class="signup-form ">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-2 header-sign-up">
                    <p class="text-center">فرم ثبت نام</p>
                </div>
                <div class="col-12 logo-form">

                    <img src="{% static 'images/logo/logo_aria_complex_prev_ui.png' %}" alt="مجموعه ورزشی آریا">
                </div>
                <div class="col-12 pt-2">
                    <form action="{% url 'register_page' %}" method="post">
                        {% csrf_token %}

                        <label for="name" class="d-inline-block pt-2 name-label" id="name-label">نام</label>
                        <label class="name-alert-form">*نام خود را به درستی وارد نمایید</label>
                        {{ register_form.first_name }}


                        <label for="lname" class="d-inline-block pt-2 lname-label">نام خانوادگی</label>
                        <label class="lname-alert-form">*نام خانوادگی خود را به درستی وارد نمایید</label>
                        {{ register_form.last_name }}


                        <label for="phoneNum1" class="d-inline-block pt-2 mob-label">شماره موبایل</label>
                        <label class="phone-alert-form">*شماره موبایل باید با کد 09 آغاز شود</label>
                        {{ register_form.mobile }}


                        <button type="submit" class="signup-btn mt-4">ثبت نام</button>
                    </form>
                    <div class="container">
                        <div class="row main-login-btns">
                            <div class="col-6 ps-4">
                                <a href="{% url 'login_page' %}" id="login">
                                    ورود
                                    <i class="bi bi-box-arrow-in-right"></i>
                                </a>

                            </div>
                            <div class="col-6 ps-4" id="main2">
                                <a href="{% url 'home_page' %}">
                                    صفحه اصلی
                                    <i class="bi bi-house-up-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="client-form-rotate"></div>
{% endblock %}

{% block footer_references %}
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script> <!-- swiper Js -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> <!-- Bootstrap Bundle -->
    <script src="{% static 'js/app2.js' %}"></script> <!-- Bootstrap Bundle -->
{% endblock %}