{% extends 'shared/base.html' %}
{% load render_partial %}
{% load jalali_tags %}

{% block title %}
    اطلاعیه ها | مجموعه آریا
{% endblock %}

{% block content %}

    <section class="mt-lg-5 mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="d-none d-lg-block col-lg-3 mb-3 mt-lg-5">
                    {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
                </div>

                <div class="col-lg-9 mb-5 pe-0">
                    <div class="main-profile-content">
                        {% render_partial 'user_panel_module.views.user_panel_header_component' %}

                        {% if announcements %}
                            <div class="notif-panel-box mt-4">
                                <h3 class="text-primary text-center mb-5">اطلاعیه ها</h3>

                                <div class="container-fluid">
                                    <div class="row gy-4">


                                        {% for announcement in announcements %}
                                            <div class="col-12">
                                                <div class="card services-card" id="notif-container">
                                                    <div class="card-body">
                                                        <p class="card-text text-center">
                                                            {{ announcement.text }}
                                                        </p>
                                                    </div>
                                                    <div class="card-footer text-center text-small">
                                                <span>
                                                    تاریخ :
                                                    {{ announcement.created_date | to_jalali }}
                                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <ul class="pagination mt-5">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                                {% endif %}
                                {% for pageNumber in paginator.page_range %}
                                    <li><a href="?page={{ pageNumber }}"
                                           class="{% if page_obj.number == pageNumber %}active-link-link{% endif %}">{{ pageNumber }}</a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                                {% endif %}
                            </ul>
                        {% else %}
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <p class="alert alert-warning">
                                            آیتمی برای نمایش وجود ندارد
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <button class="btn btn-primary menu-panel-dashboard d-lg-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="bi bi-card-list"></i>
        <!-- <span>منو</span> -->
    </button>

    <section id="offcanvas-content">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
             aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
        </div>
    </section>
{% endblock %}