{% load thumbnail %}
<div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active"
     id="swiper-slide3" role="group" aria-label="1 / 11"
     style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 1;">

    {% thumbnail slider.image_slider "900x500" quality=100 crop="center" as im %}
        <<a href="{{ im.url }}" target="_blank">
            <img src="{{ im.url }}" alt="خدمات آریا">
        </a>
    {% endthumbnail %}

</div>
